body{
    background-color: black;
}
h1{
    color:ghostwhite;
    font-family:'Courier New', Courier, monospace;
    font-size: 32px;
}
nav a {
    float: left;
    display:block;
    color: hsl(0, 0%, 0%);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
nav a:hover {
    background-color: hwb(0 100% 0%);
}
a{
    font-family:'Courier New', Courier, monospace;
    font-size: 32px;
}
